.list {
    border-color: dimgray;
    background-color: #F0FFF0;
    border-style: solid;
    width: 70%;
    height: 50%;
    border-radius: 10%;
}

.submit {
    width: 15%;
    height: 10%;
    background-color: darkkhaki;
    border-radius: 15%;
    margin-left: 30%;
}

.btn {
    width: 20%;
    height: 7%;
    border-radius: 20%;
    border-color: cornflowerblue;
    background-color: cyan;
    margin-left: 20%;
    font-size: 90%;
}

.text {
    font-family: sans-serif;
}